<article class="article {{ include.class }}">
    <div class="media">
        <img src="https://yescrm-uk.24x7.nl/write_permission/articles/srv_dltuk_8581.jpg" alt="">
    </div>
    <header>Title goes here</header>
    <p class="">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis qui sint doloribus culpa enim, adipisci
        voluptatem impedit. Nostrum dolorum officia possimus nam quidem laborum aliquid non magnam, ex beatae!
        Illum.
    </p>
    <a href="#" class="button">Read more</a>
</article>